streamlit==1.19.0  # Or any version that fits your requirements
streamlit-webrtc==0.45.0
SpeechRecognition==3.8.1
python-dotenv
numpy
pandas
requests
google-generativeai
pyttsx3
pyaudio==0.2.14
av
